@charset "UTF-8";
/*reset do css*/
*{
    margin:0;
    padding:0; 
}
body{
    background-color: whitesmoke;
    color: black;
}
div#interface{
    background-color:whitesmoke;
    width:80%;
    margin: 0px auto 10px auto;
    padding: 10px; /* Margem interna da div(add margem entre o menu e o topo da tela*/
}
p{
    text-align: justify;
    text-indent: 40px; 
}
#header{
    width:100%;/*cabecalho ocupar toda a extensao da tela*/
    background-color:whitesmoke;
    border-bottom:1px #606060 solid; /*dashed(tracejado),dotted(pontilhado),double(dobrar);*/
    height: 110px;
}
/*FORAMTAÇÃO MENU*/
.dive-menu{
    width: 100%;
    position: fixed;
    height: 110px;
    margin: 5px 20px 5px auto;
}
.div-menu ul{
    background-color: white;
    width: 75%;
    margin-left: 160px;
    height: 110px;
    top:0px;
    list-style: none;
}
.div-menu li{
    float:left;/*dispoem os itens da lista lado a lado orientado a esquerda*/
}
.div-menu li a{
    display:block;
    padding: 20px 4px;/*espaça os itens da lista*/
    font-size: 16pt;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    /*faixa inferior nos lis do menu*/
    border-bottom: 2px solid rgb(46, 45, 45);
    margin: 10px 10px 0 0;
    width:200px;
}
.logo{
    width:100px;
    height: 100px;
    margin-left: 20px;
    /*background-size: 100px 100px;*/
    position:absolute;
}
/*ANIMAÇÃO MENU*/
.div-menu li a:hover{
    transition: 0.2s;
    color: blue;
    border-bottom: 8px solid blue;
}
.active{
    color: blue;
    border-bottom: 8px solid blue;
}
/*FORMATECAO DIV QUOTE*/
.quote{
    width:85%;
    height: auto;
    background-color: rgb(35, 74, 248);
    margin:5% 5%;
    padding: 20px;
}
.quote h1{
    font-family: Arial, sans-serif;
    font-size:24pt;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.quote h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: white;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.quote h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: rgb(177, 170, 170);
    padding: 0px;
    margin-bottom: 0px;
}
.quote p{
    float: right;
    width: 45%;
    margin-right: 30px;
    margin-top: 120px;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.quote b{
    float: right;
    margin-top: 8px;
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
/* FORMATACAO IMAGEM COM LEGENDA */
figure.foto-legenda{
    border: 8px solid white;
    display: flex;
    flex-flow: column;
    max-width: 550px;
    margin: 40px;
  
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font: italic smaller sans-serif;
    transition: opacity 0.3s;
    padding: 3px;
    text-align: center;
    margin-top: -20px;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;

}
footer#rodape{
    clear:both;
    border-top: 1px solid #606060;
    
}
footer#rodape p{
    text-align: center;
}
